.roadmap {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 120px 0;
}

.roadmap-title {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #54F7C5;
    margin: 0;

}

.way.active .roadmap-title {
    font-size: 48px;
}

.way.active .way-description p {
    font-size: 18px;
}

.road {
    position: absolute;
    width: 100%;
    left: 0;
    top: 353px;
    border: 1px solid #54F7C5;
    border-top: none;
    opacity: 0.2;
}

.way-description {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.way-description p {
    text-align: center;
    margin: 10px 0 0 0;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #54F7C5;

}

.way:focus {
    outline: none;
}

.roadmap-title.way-title {
    text-align: center;
    z-index: 2;
    margin-bottom: 16px;
}

.slider-container {
    margin-top: 120px;
}

.slick-slider {
    position: initial;
}

.roadmap-content {
    width: 100%;
    padding-left: 15%;
}

.roadmap-content .way {
    border: #54F7C5;
}

.slick-arrow.slick-prev, .slick-arrow.slick-next {
    background-color: #54F7C5;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 24px #54F7C5;
    position: absolute;
    transition: background-color 0.4s;
}

.slick-arrow.slick-prev:hover, .slick-arrow.slick-next:hover {
    background-color: #99FFE0;
}

.slick-arrow.slick-next {
    right: 60px;
    top: 362px;
    z-index: 1;
}

.slick-arrow.slick-prev {
    left: 60px;
    top: 362px;
    z-index: 1;
}

.slick-arrow.slick-prev::before, .slick-arrow.slick-next::before {
    display: none;
}

.road-mark {
    align-self: center;
}

.road-mark.disabled {
    width: 45px;
    height: 45px;
    margin-top: 7px;
    margin-bottom: 8px;
}

#roadmap-tint {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
}

.roadmap-title.way-title.extra-large {
    font-size: 32px;
}

@media screen and (max-width: 414px) {
    .roadmap-title.way-title {
        font-size: 36px !important;
        line-height: 43px !important;
        text-align: left;
    }

    .roadmap-title {
        font-size: 32px !important;
        line-height: 38px !important;
    }

    .way-description {
        padding: 0;
    }
    .way-description p {
        font-size: 16px;
        text-align: left !important;
    }

    .roadmap-content {
        width: 80%;
    }

    .road, .road-mark {
        display: none !important;
    }

    .slick-arrow.slick-next, .slick-arrow.slick-prev {
        top: 370px !important;
        width: 48px;
        height: 48px;
    }

    .slick-arrow.slick-next img, .slick-arrow.slick-prev img {
        width: 18px;
        height: 9px;
    }

    .slick-arrow.slick-next {
        right: 0;
    }

    .slick-arrow.slick-prev {
        left: 0;
    }

    .slider-container {
        margin-top: 60px;
    }

    .roadmap {
        padding: 40px 0 120px 0;
    }
}


@media screen and (max-width: 372px) {
    .slick-arrow.slick-next, .slick-arrow.slick-prev {
        top: 370px !important;
    }
}

@media screen and (max-width: 333px) {
    .slick-arrow.slick-next, .slick-arrow.slick-prev {
        top: 390px !important;
    }
}

@media screen and (max-width: 972px) {
    #roadmap-tint {
        display: none;
    }

    .roadmap-content {
        padding: 0;
        width: 80%;
        align-self: center;
    }

    .slick-arrow.slick-next {
        margin-right: 30px;
        right: 0;
    }

    .slick-arrow.slick-prev {
        margin-left: 30px;
        left: 0;
    }

    .roadmap-title.way-title.extra-large {
        font-size: 41px;
    }
}