.drop-down {
    position: relative;

}

.drop-down-input-wrapper {
    border: 1px solid rgba(84, 247, 197, 0.2);
    box-sizing: border-box;
    border-radius: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 18px;
}

.drop-down-input-wrapper input {
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #54F7C5;

}

.drop-down-input-wrapper input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #54F7C5;
}

.drop-down-panel {
    height: fit-content;
    max-height: 240px;
    width: 100%;
    background: #2E1150;
    border-radius: 16px;
    position: absolute;
    overflow: scroll;
    padding: 20px;
    z-index: 10;
}


.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name, .react-datepicker__header {
    color: #D10286 !important;
    font-family: Montserrat, serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
}


.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
    background-color: #D10286 !important;
    color: #FFF !important;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.react-datepicker {
    background-color: #2E1150 !important;
    border: none !important;
}

.react-datepicker__header {
    background-color: #2E1150 !important;
    border-bottom: 1px solid #D10286 !important;
}

.react-datepicker__current-month {
    color: #D10286 !important;
    font-family: Montserrat, serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 20px !important;
}

 .react-datepicker__navigation--previous {
    border-right-color: #D10286 !important;
}

.react-datepicker__navigation--next {
    border-left-color: #D10286 !important;
}


.drop-down-input-wrapper__pink {
    border: 2px solid #D10286;
    background-color: transparent;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    height: fit-content;
}

.drop-down-input-wrapper__pink input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    padding: 14px 24px;
}

.drop-down-input-wrapper__pink .input-title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #D10286;
    position: absolute;
    top: -17px;
    left: 20px;
    background-color: #1F0E36;
    padding: 0 3px;
}
