.mnemonic-phrase-access {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    width: 57%;

    border-radius: 12px;
    align-self: center;
    padding: 80px;
    margin: 80px 0;
}

.mnemonic-phrase-access .text-inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px;
    gap: 20px 20px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}

.mnemonic-phrase-access .text-inputs-container-expanded {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
    gap: 20px 20px;
    grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . ."
    ". . .";
}