.last-transaction-panel {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;

    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.column-title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #9A80B9;
    margin: 40px 0 20px 0;
}

.column-value {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
}

.pay-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    height: fit-content;
    color: #54F7C5;
    margin: 16px 0;
}

.last-transaction-panel .submit-button {
    border: 1px solid #54F7C5;
    display: flex;
    padding: 0 20px;
    width: fit-content;
    border-radius: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.last-transaction-panel .submit-button .button-name {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 16px;
    color: #54F7C5;
    margin-right: 0;
}