.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container label {
    cursor: pointer;
    display: flex;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    align-items: center;
}

.checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-container label::before {
    content: '';
    min-width: 24px;
    min-height: 24px;
    border: 2px solid rgb(125, 110, 140);
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 16px;
}

.checkbox-container label:hover::before,
.checkbox-container input[type='checkbox']:hover + label::before,
.checkbox-container .invalid::before {
    border: 2px solid #D10286;
}

.checkbox-container input[type='checkbox']:checked + label::before {
    background-image: url("/src/assets/vector/checkbox-checked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
