.pagination {
    align-self: flex-end;
    display: flex;
}

.page-link {
    color: rgb(18, 4, 37);

    border-color: rgb(18, 4, 37);
    font-family: Montserrat, serif;
}

.page-link:hover {
    color: rgba(18, 4, 37, 0.48);
    background-color: #54F7C5;
    border-color: rgb(18, 4, 37);
}

.page-item {
    width: 30px;
    height: 40px;
    background-color: #54F7C5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
    border-radius: 5px;
}