.primary-button {
    border: 2px solid #54F7C5;
    box-sizing: border-box;
    border-radius: 16px;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #54F7C5;

    padding: 14px 28px;

    background-color: transparent;
    outline: none;
    cursor: pointer;
    height: fit-content;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: opacity 0.4s;
}

.primary-button:hover {
    opacity: 0.6;
}