.records-panel {
    width: 80%;
    background: linear-gradient(180deg, #2B1747 0%, rgba(29, 12, 54, 0.95) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;
    position: absolute;
    top: -150px;
    display: flex;
    left: 10%;
}

.records-panel .record {
    flex-grow: 1;
    padding: 60px 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    opacity: 0.5;
}

.record.active {
    background: linear-gradient(180deg, rgba(84, 247, 197, 0.5) 0%, rgba(84, 247, 197, 0) 100%);
    opacity: 1;
}

.record.active .record-title {
    color: #FFFFFF !important;
    text-shadow: 0 0 12px #54F7C5;

}

.records-panel .record .record-title {
    font-family: Cubano, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #DDD6ED;
    margin: 0;
    text-align: left;
}

.records-panel .record .record-text {
    font-family: Montserrat;
    color: #DDD6ED;
    font-weight: 700;
    font-size: 14px;
    margin: 0;

}

.records-panel .record .title-section {
    margin-bottom: 60px;
}

@media screen and (max-width: 1761px) {
    .records-panel {
        flex-direction: column;
        position: initial;
        height: fit-content;
        width: 100%;
        border-radius: 0;
    }

    .record.active {
        background: linear-gradient(90deg, rgba(84, 247, 197, 0.5) 0%, rgba(84, 247, 197, 0) 100%);
    }

    .records-panel .record .title-section, .records-panel .record .value-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .records-panel .record .record-title, .records-panel .record .record-text {
        width: fit-content;
    }

    .record {
        padding: 40px !important;
    }

    .records-panel .record .record-text.title {
        width: 27% !important;
    }

    .records-panel .record .title-section {
        margin-bottom: 20px;
    }
}