.count-down {
    display: flex;
    align-items: center;
}

.count-down .time {
    background: linear-gradient(180deg, #D10286 0%, rgba(209, 2, 134, 0) 100%);
    backdrop-filter: blur(18px);
    border-radius: 14px;
    padding: 16px 14px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 14px 0 28px;
}