.like-mark {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    padding: 16px 22px;
}

.like-mark.positive {
    background-color: rgba(84, 247, 197, 0.15);
}

.like-mark.negative {
    background: rgba(209, 2, 134, 0.1);
}

.like-mark-text {
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

.like-mark-text.positive {
    color: #49DEB0;
}

.like-mark-text.negative {
    color: #D10286;
}