#remaining {
    width: 100%;
    height: 10px;
    border-radius: 15px;
    background-color: #54F7C5;
    opacity: 0.2;
}

#done {
    position: absolute;
    background: linear-gradient(270deg, #54F7C5 0%, rgba(84, 247, 197, 0.15) 100%);
    box-shadow: 0px 4px 24px rgba(112, 255, 211, 0.5);
    height: 10px;
    border-radius: 15px;
    top: 10px;

}

.status-bar .progress {
    position: relative;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(48, 64, 92);
    flex-grow: 1;
    height: fit-content;
    margin: 0 29px;
}

.status-bar {
    display: flex;
    width: 100%;
    align-items: center;
}