.token-pricing-panel {
    background: linear-gradient(180deg, #2B1747 0%, rgba(29, 12, 54, 0.5) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;
    padding: 107px 60px 60px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 456px;
}

.token-pricing-content {
    display: flex;
    justify-content: space-between;
}

.token-pricing-usd {
    flex-grow: 1;
    text-align: left !important;

}

.token-pricing-mgl {
    flex-grow: 1;
    text-align: left !important;
}

.token-pricing-title {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #D10286;
    margin: 0;
    position: absolute;
    top: -20px;
    left: 60px;
    z-index: 3;
    width: 259px;
    text-align: left;
}

#floating-sign {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 60px;
    z-index: 20000;
}

@media screen and (max-width: 1616px) {
    .token-pricing-panel {
        padding-top: 80px;
        padding-bottom: 63px;
        width: -webkit-fill-available;
        min-width: initial !important;
    }

    #floating-sign {
        bottom: 31px;
    }

    .token-pricing-title {
        text-align: center !important;
        align-self: center !important;
        left: initial;
    }

    .token-pricing-content {
        flex-direction: column;
        align-items: center;
    }

    .token-pricing-usd p, .token-pricing-mgl p {
        text-align: center;
    }
}
