.finish-setup-panel {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    width: 57%;

    border-radius: 12px;
    align-self: center;
    padding: 80px;
    margin: 80px 0;
}

.wallet-gradient-container {
    background: linear-gradient(180deg, #341D55 0%, rgba(44, 21, 77, 0.5) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;
    position: relative;
    padding: 40px;
    flex-grow: 1;
    flex-basis: 0;
}

.wallet-gradient-container .intro-title {
    font-size: 24px;
    position: absolute;
    top: -30px;
    margin: 0;
}

.wallet-gradient-container .pink-text {
    margin: 0;
}