.file-input-container {
    position:relative;
    overflow:hidden;
    width: 100%;
    height: 100%;

    /*border: 1px dashed rgb(82, 67, 100);*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 12px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23524462FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e")
}

.file-input-container.drag, .file-input-container.invalid {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23D10286FF' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='12' stroke-linecap='square'/%3e%3c/svg%3e")
}

.fake-upload {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.real-upload {
    width: 100%;
    font-size:28px;
    position:absolute;
    top:0;
    right:0;
    opacity:0;
    /*-moz-opacity:0.4;*/
    /*filter:alpha(opacity:0);*/
    z-index:2;
    height:100%;
    border: 1px dashed #FFFFFF;
}

.file-input-title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 20px;
}

.file-input-subtitle {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #725E85;
    margin: 0;
}

.file-input-instruction {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    color: #D10286;
    margin: 0;
}

