.step-mark {
    align-self: center;
    width: 57%;
    display: flex;
    padding: 0 80px;
    margin-top: 80px;
}

.step-mark .step-sign {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #D10286;
    text-shadow: 0px 0px 12px #D10286;
    margin: 0 0 15px 0;
}

