.text-input-wrap-1 .text-input {
    padding: 14px 24px 14px 24px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 16px;
    width: 100%;
}

.text-input-wrap-1 .text-input, .text-input-wrap-1 .send-button {
    outline: none;
}

.text-input-wrap-1 {
    flex-grow: 1;
    border: 2px solid #54F7C5;
    background-color: transparent;
    border-radius: 15px;
    display: flex;
    padding-right: 24px;
    justify-content: space-between;
}

.text-input-wrap-1:focus-within {
    box-shadow: 0px 0px 8px #54F7C5;
}

::placeholder {
    color: white;
}

.text-input-wrap-1 .send-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.text-input-wrap-2 {
    border-bottom: 1px solid #D10286;
    padding-bottom: 20px;
}

.text-input-wrap-2:focus-within {
    box-shadow: 0 5px 5px -5px #D10286;
}

.text-input-wrap-2 .title {
    font-family: Cubano;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #D10286;
    white-space: nowrap;
    margin: 0 0 12px 0;
}

.text-input-wrap-2 .text-input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
    font-family: cubano;
    font-weight: 400;
    font-size: 32px;
}

.text-input-wrap-2 .text-input:focus, .text-input-wrap-4 .text-input:focus {
    outline: none;
}

.text-input-wrap-3 .text-input {


    background-color: transparent;
    border: none;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #54F7C5;
    width: 100%;
}

.text-input-wrap-3 .text-input::placeholder {
    color: #54F7C5;
}

.text-input-wrap-3 .text-input, .text-input-wrap-3 .search-button {
    outline: none;
}

.text-input-wrap-3 {
    padding: 0 18px;
    width: 100%;
    border: 1px solid rgba(84, 247, 197, 0.2);
    background-color: transparent;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

.text-input-wrap-4 {
    flex-grow: 1;
    border: 2px solid #D10286;
    background-color: transparent;
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin: 50px 0;
    position: relative;
    height: fit-content;
}

.text-input-wrap-4:focus-within {
    box-shadow: 0px 0px 8px #D10286;
}

.text-input-wrap-4 .text-input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    padding: 14px 24px;
}

.text-input-wrap-4 .input-title {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #D10286;
    position: absolute;
    top: -17px;
    left: 20px;
    background-color: #1F0E36;
    padding: 0 3px;
}

.phone-number-prefixes {
    height: fit-content;
    max-height: 240px;
    width: fit-content;
    background: #2E1150;
    border-radius: 16px;
    position: absolute;
    overflow: scroll;
    padding: 20px;
    top: 50px;
}

.white-text.prefix-option:hover {
    color: #D10286;
    cursor: pointer;
}