.access-method-button {
    border-radius: 16px;
    cursor: pointer;
    width: fit-content;
    padding: 14px 28px;
    outline: none;
    border: none;
}

.access-method-button-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}