.register-screen {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-color: rgb(18, 5, 38);
    overflow: hidden;
    position: relative;
}

.register-screen .register-panel {
    flex-grow: 3.3;
    background: linear-gradient(180deg, #2B1747 0%, rgba(29, 12, 54, 0.5) 100%);
    backdrop-filter: blur(75px);
    flex-basis: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-screen .register-greeting {
    flex-grow: 9;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    height: 80%;
    margin-top: 250px;
}

.register-screen .register-greeting .title-huge {
    font-family: cubano-sharp, sans-serif;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-size: 72px;
    text-shadow: 0 0 32px #D10286;
    width: fit-content;
    align-self: center;

    margin: 0 0 32px 0 !important;
}

.register-screen .register-greeting .subtitle-lime {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /*text-align: center;*/
    letter-spacing: 0.1em;
    color: #54F7C5;
    text-shadow: 0 0 12px #54F7C5;
    margin: 0 0 32px 0;
    width: fit-content;
    align-self: center;
}

.register-screen .register-greeting .subtitle-white {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0 0 12px #54F7C5;
    width: fit-content;
    align-self: center;
    margin: 0;
}

.register-screen .register-panel .bottom-sign {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: white;
}