.total-balance-panel {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;

    padding: 40px;
    display: flex;
    flex-direction: column;
}

.total-balance-panel .total-balance {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #54F7C5;
    margin: 12px 24px 0 0;
}

.token-price {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #D10286;
    margin: 0;
}

.some-white-text {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
}