.nav {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", serif;
    padding: 60px 80px 0 80px;
    z-index: 10;
}

.tabs {
    display: flex;
    flex-direction: row;
    /*border: 3px solid white;*/
    justify-content: space-between;
    font-family: "Montserrat", serif;
}

.tabs .tab {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #9F85B4;
    text-decoration: none;
    align-self: center;
    transition: opacity 0.4s;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.tabs .tab:hover {
    opacity: 0.6;
}

#login {
    font-weight: 800;
    color: #54F7C5;
    text-decoration: none;
    align-self: center;
}


#sign-up {
    font-weight: 800;
    color: #54F7C5;
    text-decoration: none;
    align-self: center;
    border: 2px solid #54F7C5;
    padding: 10px 20px;
    border-radius: 15px;
}

.auth {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 15px;
}

#logo {
    flex-grow: 1;
}

.collapsed-menu {
    padding: 20px 20px;
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 350px;
    background-color: rgb(10, 1, 34);
    top: 0;
    z-index: 100;
    left: 0;
    flex-direction: column;
}

.collapsed-menu .collapsed-tabs {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat";
    margin-left: 16px;
    margin-top: 20px;
}

.collapsed-menu .collapsed-tabs .tab {
    font-weight: 700;
    color: #9F85B4;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0;
}

.collapsed-menu .collapsed-auth {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: fit-content;
    align-self: center;
    position: absolute;
    bottom: 70px;
}

.auth .email, .collapsed-auth .email {
    padding: 14px 28px;
    background-color: #100224;
    border-radius: 16px;
    color: #54F7C5;
    font-family: Montserrat, serif;
    font-weight: 600;
    font-size: 16px;
    align-self: center;
    margin: 0;
}

.collapsed-auth .email {
    padding: 0;
}

@media screen and (max-width: 460px){
    #logo img {
        width: 240px;
    }
}

@media screen and (max-width: 1300px){
    .nav {
        padding: 30px 30px 0 30px;
    }
}