.buy-token-panel {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;

    padding: 40px;
    display: flex;
    flex-direction: column;
}

.crypto-buttons {
    display: flex;
}

.buy-token-panel .submit-button {
    border: 1px solid #54F7C5;
    display: flex;
    padding: 0 20px;
    width: fit-content;
    border-radius: 16px;
    margin-top: 40px;
    align-self: flex-end;
    cursor: pointer;
}

.buy-token-panel .submit-button .button-name {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 16px;
    color: #54F7C5;
    margin-right: 0;
}

