.screen {
    background-color: rgb(18, 5, 38);
    overflow: hidden;
}

/*================ HEADER ==================*/

.header {
    display: flex;
    flex-direction: column;

}

.intro {
    width: 100%;

    position: relative
}

.header-visual {
    overflow: hidden;
    position: absolute;
    height: 1030px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.outro {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0 60px;
    grid-template-areas:
    ". . .";
    width: 1198px;
    align-self: center;
    z-index: 1;
}

.outro .section {
    flex-grow: 1;
    flex-basis: 0;
}


.intro .title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.intro .title-section .sign-up-section {
    align-self: center;
    display: flex;
    justify-content: space-between;
}

.outro .section .section-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.title-big .pink-insertion {
    color: #D10286;
}

.info-panels {
    display: flex;
    align-self: center;
    width: 70%;
    margin-top: 100px;
    justify-content: center;
}

#whitepaper-link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #54F7C5;
    display: flex;
    align-items: center;
}

.text-separator.left {
    animation: marquee-left 60s linear infinite;
    width: fit-content !important;
}

.text-separator.right, #floating-sign div p {
    animation: marquee-right 60s linear infinite;
    width: fit-content !important;
}



.animated-floor {
    /*height: 55%;*/
    height: 700px;
    width: 200%;
    position: absolute;
    left: -50%;

    /*background-color: #313640;*/
    background-image: linear-gradient(#ff0092 1px, transparent 2px), linear-gradient(90deg, #ff0092 1px, transparent 2px);
    background-size: 2% 10%, 2% 10%;
    /*background-position: 0 0, 0 0;*/
    /*transform: perspective(300px) rotateX(80deg);*/

    animation: throughSpace 1s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    top: 400px;
    /*bottom: 0;*/
    z-index: 0;
}

.sign-up-section .header-link {
    border: 2px solid #54F7C5;
    box-sizing: border-box;
    border-radius: 16px;

    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #54F7C5;

    padding: 14px 28px;

    background-color: transparent;
    outline: none;
    cursor: pointer;
    height: fit-content;
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: opacity 0.4s;
}

.sign-up-section .header-link:hover {
    opacity: 0.6;
}


@keyframes throughSpace {
    0% {
        transform: perspective(400px) rotateX(80deg) translateY(0%);
    }
    100% {
        transform: perspective(400px) rotateX(80deg) translateY(20%);
    }
}

@keyframes marquee-left {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

@keyframes marquee-right {
    from { transform: translate(-100%); }
    to { transform: translate(100%); }
}

@media screen and (max-width: 1215px ) {
    .intro .title-section .sign-up-section{
        width: fit-content;
        flex-direction: column;
        align-items: center;
    }

    #download-whitepaper {
        margin: 0 0 49px !important;
    }

    #join-crowdsale {
        margin-bottom: 68px;
    }

    .or {
        margin: 10px 0;
    }

    .sign-up-section .gray-text {
        margin: 20px 0 !important;
    }

    .info-panels {
        margin-top: 40px;
    }

    .outro {
        display: block;
        width: 80%;
    }

    .outro .section .title .white-text, .outro .section .title .lime-text {
        margin-left: 0;
        margin-right: 0;
    }

    .header .intro .title-section {
        padding: 0 20px;
    }

    .section-header {
        margin-top: 60px;
    }

    .sign-up-section .gray-text {
        margin: 20px 0;
    }

    #header-email-input {
        /*width: 150%;*/
    }
}


@media screen and (max-width: 1616px) {
    .info-panels {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
    }
}

@media screen and (max-width: 994px) {
    .info-panels {
        width: 70%;
    }
}

@media screen and (max-width: 674px) {
    .info-panels {
        width: 100%;
    }
}

@media screen and (max-width: 414px){
    .intro .title-section .title-huge {
        font-size: 52px;
    }

    .intro .title-section .subtitle-lime {
        font-size: 28px;
    }

    .intro .title-section .subtitle-white {
        font-size: 18px;
    }
    
    .title-big {
        font-size: 28px !important;
        line-height: 38px !important;
    }

    .intro-title {
        font-size: 28px;
    }

    #huge-main-extended {
        width: 80% !important;
    }

    .intro-title {
        font-size: 32px !important;
        line-height: 38px !important;
    }

    .gradient-container .intro-title {
        font-size: 24px !important;
        line-height: 29px !important;
        top: -15px !important;
    }

    .gradient-container {
        padding-top: 34px !important;
    }

}

@media screen and (max-width: 547px){
    #big-main {
        width: 93% !important;
        margin: 60px 0 0 0 !important;
        font-size: 32px !important;
        line-height: 38px !important;
    }
}



/*================ /HEADER ===================*/


/*================ BODY ===================*/

.intro {
    display: flex;
    flex-direction: column;
}

.intro .nft-intro {
    width: 70%;
    align-self: center;
}

.intro .nft-intro .nft-explained {
    display: flex;
}

.gradient-container {
    margin: 40px 0;
    background: linear-gradient(180deg, #341D55 0%, rgba(44, 21, 77, 0.5) 100%);
    border-radius: 10px;
    position: relative;
    padding: 40px 40px 38px 40px;
}

.intro .nft-intro .nft-explained .text-section {
    padding-top: 89px;
    width: 50%;
}

.intro .become-mogul {
    background: linear-gradient(180deg, #2B1747 0%, rgba(29, 12, 54, 0.5) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 112px 0;
}

.intro .become-mogul .become-mogul-content {
    width: 70%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

#sun {
    position: absolute;
    bottom: -406px;
    left: -250px;
    z-index: 2;
}

#streaming-title {
    margin: 0;
    text-align: right;
    width: 84.4%;
}

#streaming-text {
    width: 50%;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    text-align: right;
    color: #D10286;
}

.why-mogul {
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    position: relative;
    z-index: 1;
}

.why-mogul .why-mogul-content {
    width: 70%;
    min-width: 350px;
    align-self: center;
    display: flex;
    overflow-x: scroll;
    height: fit-content;

}

.why-mogul .why-mogul-content::-webkit-scrollbar {
    display: none;
}

.why-mogul .why-mogul-content .why-mogul-column {
    flex-grow: 1;
    border-right: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-basis: 0;
    padding: 80px 0 59px 0;
}

.why-mogul .why-mogul-content .why-mogul-column.chosen {
    background: linear-gradient(180deg, rgba(84, 247, 197, 0.1) 0%, rgba(84, 247, 197, 0) 100%);
}

.why-mogul .why-mogul-content .why-mogul-column .column-cell {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.why-mogul .why-mogul-content .why-mogul-column .column-cell .feature-title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
}

.why-mogul-title {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #1A033A;
    text-shadow: 0px 0px 24px rgba(209, 2, 134, 0.15);
    width: 70%;
    margin: 0;
}

.why-mogul-title-rwd {
    display: none;
    width: 80%;
    align-self: center;
}

.why-mogul-title.rwd {
    margin-top: 40px;
    width: fit-content;
}

#slot-machine {
    align-self: center;
}

#gameboy {
    z-index: 1;
    height: auto;
    margin-left: 27px;
    position: absolute;
    bottom: 0px;
}

#mgul-undone {
    width: 50%;
    min-height: 704px;
    align-self: flex-end;
    margin-right: 10%;
    padding-bottom: 100px;
}

.fake-foot {
    height: 120px;
    background-color: #2B1747;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mogul-team {
    background: radial-gradient(100% 100% at 50% 0%, #3A2556 0%, #1F0E36 100%), #1F0E36;
    display: flex;
    flex-direction: column;
}

.mogul-team-content {
    width: 60%;
    align-self: center;
    padding: 120px 0 224px 0;
    display: flex;
    flex-direction: column;
}

.mogul-team-members {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 204px 60px;
    grid-template-areas:
    ". . . ";
}

.mogul-team-members .member {
    position: relative;
}

.mogul-team-members .member .member-photo {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.intro-title.member-name {
    font-size: 36px;
    position: absolute;
    margin: 0;
    bottom: -60px;
    left: 20px;
    width: 10%;
    line-height: 43px;
}

.intro-title.member-name.one-row {
    bottom: -20px !important;
}

.mogul-team-members .member .member-role {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #D10286;
    text-shadow: 0 0 12px #D10286;
    position: absolute;
    bottom: -110px;
    left: 20px;
    margin: 0;
    height: 30px;
}

.join-mogul {
    background: linear-gradient(180deg, #2B1747 0%, rgba(29, 12, 54, 0.5) 100%);
    backdrop-filter: blur(18px);
    border-radius: 0 0 12px 12px;
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.join-mogul-content {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.join-mogul-content-left, .join-mogul-content-right {
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.join-mogul-title {
    font-family: Cubano;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 0 0 12px #54F7C5;
    width: 80%;
}

.join-mogul-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.join-mogul-alternative {
    background-color: #54F7C5;
    display: flex;
    justify-content: center;
}

.join-mogul-alternative-content {
    width: 70%;
    align-self: center;
    margin-bottom: 150px;
    z-index: 1;
}

.join-mogul-alternative-title {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #1A033A;
    margin: 0 0 80px;
}

.join-mogul-alternative-text-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.join-mogul-alternative-text {
    flex-grow: 1;
    flex-basis: 0;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A033A;
}

.make-friends {
    background: radial-gradient(100% 100% at 50% 0%, #3A2556 0%, #1F0E36 100%), #1F0E36;
    display: flex;
    justify-content: center;
    position: relative;
}

.make-friends-content {
    width: 70%;
    padding: 223px 0 80px 0;
}

.make-friends-explanation {
    display: flex;

}

.make-friends-explanation-content {
    width: 50%;
    padding-top: 160px;
    z-index: 1;
}

.any-questions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pics-section {
    position: relative;
    width: 50%;
}

.fake-photo {
    width: 100%;
    padding-top: 100%;
    border-radius: 10px;
    background: linear-gradient(180deg, #341D55 0%, rgba(44, 21, 77, 0.5) 100%);
    backdrop-filter: blur(18px);
}

@media screen and (max-width: 743px) {
    #huge-main {
        width: 90% !important;
    }
}


@media screen and (max-width: 1463px ) {
    /*.intro .nft-intro .nft-explained {*/
    /*    flex-direction: column;*/
    /*}*/

    .intro .nft-intro {
        width: 80%;
    }

    .intro .nft-intro .nft-explained .text-section {
       width: 100%;
        padding-top: 40px;
    }

    #slot-machine {
        /*position: initial !important;*/
        /*justify-self: flex-end;*/
        /*align-self: flex-end;*/
        right: initial !important;
        width: 100%;
    }

    .pics-section {
        width: 100%;
    }

    #circles {
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        width: 100%;
    }

    #consoles {
        bottom: -125px !important;
        left: -40px !important;
        width: 600px !important;
    }

    .intro .join-mogul .join-mogul-content {
        display: block;
        width: 80%;
    }

    .intro .join-mogul .join-mogul-content .join-mogul-content-left,
    .intro .join-mogul .join-mogul-content .join-mogul-content-right {
        width: 100%;
    }

    .join-mogul-title, .join-mogul-text {
        width: 100%;
        text-align: center;
    }

    .join-mogul .join-mogul-content .join-mogul-text {
        margin: 32px 0 !important;
    }

    #join-mogul-email {
        margin-top: 20px;
    }

    /*.pics-section {*/
    /*    align-self: center;*/
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    display: flex;*/
    /*}*/

    #nft-text-bottom {
        margin-bottom: 60px !important;
    }

    .gradient-container {
        padding: 34px 20px 20px 20px;
        margin: 55px 0;
    }

    .gradient-container .intro-title {
        top: -20px;
    }

    .join-mogul-alternative-text-container {
        flex-direction: column;
    }

    .join-mogul-alternative-title {
        margin-bottom: 20px;
    }

    .join-mogul-alternative-text {
        margin: 20px 0 !important;
        width: 100%;
    }

    .join-mogul-alternative-text:last-of-type {
        margin: 20px 0 0 0 !important;
    }

    .join-mogul-alternative-content {
        width: 80%;
        margin-bottom: 40px;
    }

    .make-friends-content {
        width: 80%;
        padding-bottom: 250px !important;
    }

    .join-mogul-alternative-text-container {
        margin-bottom: 0;
    }

    .make-friends-explanation {
        flex-direction: column;
    }

    .make-friends-explanation-content {
        width: 100%;
    }

    .make-friends-explanation-content:last-of-type {
        padding-top: 40px !important;
    }

    .make-friends-explanation-content .white-text, .make-friends-explanation-content .lime-text {
        margin-bottom: 33px !important;
    }

    .make-friends-explanation-content .lime-text:last-of-type {
        margin-bottom: 55px !important;
    }

    .make-friends-explanation-content h2 {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px){
    .pics-section {
        align-self: center;
        position: relative;
        width: 100%;
        display: flex;
    }

    #slot-machine {
        position: initial !important;
        justify-self: flex-end;
        align-self: flex-end;
    }

    .intro .nft-intro .nft-explained {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 860px){
    #sun {
        display: none;
    }

    #streaming-text, #streaming-title {
        width: 100%;
        text-align: center;
    }

    #streaming-text {
        margin-top: 48px;
        margin-bottom: 0;
    }

    .intro .become-mogul .become-mogul-content,
    .intro .nft-intro,
    .join-mogul-alternative-content,
    .mogul-team-content,
    .make-friends-content {
        width: 80%;
        padding-right: 0;
        padding-left: 0;
    }

    .intro .become-mogul {
        padding: 60px 0;
    }

    #gameboy {
        position: initial;
        min-width: 100% !important;
        margin-left: 0;
        align-self: center;
    }

    #mgul-undone {
        width: 80% !important;
        margin-right: 0;
        align-self: center;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 680px) {
    .member-role{
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .member-linkedin-link {
        margin: 0 !important;
        position: absolute;
        left: -7px;
    }
}

/*@media screen and (max-width: 547px) {*/
/*    #big-main {*/
/*        width: 80% !important;*/
/*    }*/
/*}*/

@media screen and (max-width: 847px) {
    .why-mogul .why-mogul-content .why-mogul-column.chosen {
        background: none;
    }

    .why-mogul-title {
        display: none;
    }

    .why-mogul-title-rwd {
        display: block;
    }

    .why-mogul-title.rwd {
        display: block;
    }

    .why-mogul .why-mogul-content .why-mogul-column .column-cell {
        height: 52px;
    }

    .why-mogul .why-mogul-content .why-mogul-column:first-of-type {
        margin: 0 15px 0 0;
    }
    .why-mogul .why-mogul-content .why-mogul-column {
        border: none !important;
        width: 90px;
        margin: 0 15px;
        padding: 40px 0 !important;
    }

    .why-mogul .why-mogul-content .why-mogul-column.title-column {
        width: fit-content;
    }

    .title-cell {
        width: 90px;
    }

    .why-mogul .why-mogul-content {
        width: 90% !important;
        align-self: flex-end;
    }


}

@media screen and (max-width: 1650px){
    /*#gameboy {*/
    /*    position: initial;*/
    /*    width: 100%;*/
    /*    margin-left: 0;*/
    /*}*/

    .fake-foot {
        height: 80px;
    }

    .join-mogul {
        padding-bottom: 80px;
    }

    #mgul-undone {
        width: 40%;
        /*margin-right: 0;*/
        /*align-self: center*/
    }

    .why-mogul-content {
        width: 80% !important;
    }
}

@media screen and (max-width: 1367px) {
    #gameboy {
        width: 600px !important;
    }
}

@media screen and (max-width: 1031px) {
    #gameboy {
        width: 500px !important;
    }
}

@media screen and (max-width: 414px) {
    #streaming-text {
        font-size: 20px;
        line-height: 32px;
        margin-top: 48px;
    }

    .why-mogul-title.rwd {
        font-size: 28px;
        line-height: 34px;
    }

    .why-mogul .why-mogul-content .why-mogul-column .column-cell .feature-title {
        font-size: 16px !important;
        line-height: 26px !important;
    }

    .join-mogul-alternative-title {
        font-size: 32px;
        line-height: 38px;
    }

    #contact-email {
        font-size: 24px !important;
        line-height: 29px !important;
    }
}


/*@media screen and (max-width: 770px) {*/
/*    .fake-foot {*/
/*        height: 120px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 410px) {*/
/*    .fake-foot {*/
/*        height: 80px;*/
/*    }*/
/*}*/

@media screen and (max-width: 1342px){
    .mogul-team-members {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 160px 20px;
        grid-template-areas:
    ". ."
    ". .";
    }

    .member-name {
        font-size: 24px !important;
        line-height: 29px !important;
        bottom: -40px !important;
        width: 30% !important;
        left: 15px !important;
    }

    .member-role {
        font-size: 16px !important;
        line-height: 19px !important;
        bottom: -80px !important;
        left: 15px !important;
    }

    .mogul-team-content {
        padding-top: 40px !important;
        padding-bottom: 181px !important;
    }

    .mogul-team-members {
        margin-top: 40px !important;
    }
}

@media screen and (max-width: 1761px) {
    .make-friends {
        flex-direction: column;
        align-items: center;
    }
    .make-friends-content {
        padding: 100px 0;
    }

    .join-mogul-alternative-text-container {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1744px) {
    .member-name {
        font-size: 24px !important;
        line-height: 29px !important;
        bottom: -40px !important;
    }

    .intro-title.member-name.one-row {
        bottom: -13px !important;
    }

    .member-role {
        bottom: -90px !important;
    }

    .mogul-team-members {
        gap: 144px 60px;
    }
}


@media screen and (max-width: 1526px) {
    .any-questions {
        flex-direction: column;
    }

    .any-questions div .intro-title {
        text-align: center;
    }

    .any-questions p {
        text-align: center;
        margin: 20px 0 40px 0 !important;
    }

    .make-friends-content {
        padding-top: 40px;
    }

    .make-friends-content hr {
        margin: 40px 0 !important;
    }

    .make-friends-explanation-content {
        padding-top: 80px;
    }
}

/*@media screen and (max-width: 386px){*/
/*    .intro-title {*/
/*        font-size: 28px;*/
/*    }*/

/*    #streaming-text {*/
/*        font-size: 24px;*/
/*    }*/

/*    .join-mogul-alternative-title {*/
/*        font-size: 28px;*/
/*    }*/

/*    #contact-email {*/
/*        font-size: 24px !important;*/
/*    }*/

/*    .footer-title.email {*/
/*        font-size: 24px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 542px) {*/

/*    .footer-title.email {*/
/*        margin-right: 0;*/
/*    }*/
/*}*/

/*@media screen and (max-height: 568px){*/
/*    .footer-content .contact-info {*/
/*        justify-content: center;*/
/*    }*/
/*}*/

/*================== /BODY ===================*/






