a:link {
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer-content {
    width: 70%;
    align-self: center;
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-content .contact-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.footer-title.email {
    margin-right: 30px;
    text-decoration: none;
    font-size: 24px;
}

.footer-title {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    text-shadow: 0 0 12px #D10286;
    margin: 0;
}

.footer-separator {
    width: 70%;
    opacity: 0.1;
    margin: 0;
    align-self: center;
}

#logo-footer-bottom {
    display: none;
    /*display: grid;*/
    place-items: center;
}

#logo-footer-bottom img {
    width: 80%;

}

.footer-content .tabs {
    width: 834px;
}

.contact-link {
    transition: opacity 0.4s;
}

.contact-link:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1526px) {
    .footer-content {
        flex-direction: column;
        padding: 40px 0 !important;
    }

    .footer-title {
        margin: 0 !important;
        margin-bottom: 30px !important;
    }

    .footer-title.email {
        margin: 0 10px 0 0 !important;
    }

    .contact-info {
        justify-content: center;
    }

    .footer-separator {
        width: 100%;
    }

    .footer-content .tabs {
        margin-top: 30px;
    }
}

@media screen and (max-width: 414px) {
    .footer-title.email {
        font-size: 16px;
        line-height: 19px;
    }

    .footer-title {
        font-size: 32px;
        line-height: 38px;
    }
}

@media screen and (max-width: 1215px ) {
    .footer-content {
        width: 80%;
    }
}

@media screen and (max-width: 1312px) {

    .footer-content .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 30px 40px;
        grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". .";

        align-self: flex-start;
        margin-top: 0;
        margin-bottom: 30px;
        width: 100%;
    }


    .footer-title {
        text-align: center;
    }

    #logo-footer {
        display: none;
    }

    #logo-footer-bottom {
        display: grid;
    }
}