.admin-screen {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding: 0 0 80px;
}

.admin-panel {
    display: flex;
    padding: 80px 50px;
}

.admin-panel-left {
    flex-grow: 3.3;
    flex-basis: 0;
    margin-right: 40px;
}

.admin-panel-right {
    flex-grow: 9;
    flex-basis: 0;
    padding-top: 54px;
}

.admin-panel-title {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12px #D10286;
    margin: 0;
}

.admin-panel-pink-text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #D10286;
    margin: 0;
}



#token-sales-live {
    background: linear-gradient(270deg, #70FFD3 0%, #54F7C5 100%);
    box-shadow: 0px 4px 24px rgba(112, 255, 211, 0.5);
    border-radius: 2400px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1A033A;
    padding: 16px;
    margin: 0;
}

.admin-panel-right .profile-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.admin-panel-right .profile-status .white-text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}


.admin-panel-right .identity-verification, .admin-panel-right .tips, .admin-panel-right .profit-counter {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;
    padding: 40px;
}

.admin-panel-right .tips, .admin-panel-right .profit-counter {
    margin-top: 20px;
}

.icon-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}




.all-transactions-panel {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;
    margin: 80px 80px 40px 80px;
    align-self: center;
    padding: 47px 40px 20px 40px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}

.transactions-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "n n n n n n n n"
    "c c c c c c c c"
    "c c c c c c c c"
    "c c c c c c c c"
    "c c c c c c c c"
    "c c c c c c c c"
    "c c c c c c c c";
    margin-bottom: 40px;
}

.transactions-table .column-value {
    border-bottom: 1px solid rgb(58, 40, 76);
    padding-left: 10px;
    height: 64px;
    display: flex;
    align-items: center;
}

.transactions-table .column-title {
    margin: 0;
    padding-left: 10px;
    height: 32px;
    display: flex;
    align-items: center;
    align-self: flex-end;
}

.admin-screen .submit-button {
    border: 1px solid #54F7C5;
    display: flex;
    padding: 0 20px;
    width: fit-content;
    border-radius: 16px;
    margin-top: 40px;
    cursor: pointer;
    margin-left: 30px;
}

.admin-screen .submit-button .button-name {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 16px;
    color: #54F7C5;
    margin-left: 10px;
}

.no-transactions-container {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;
    margin: 80px 50px 0 50px;
    width: -webkit-fill-available;
    align-self: center;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
}