.personal-settings {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    width: 57%;

    border-radius: 12px;
    align-self: center;
    padding: 80px;
    margin: 80px 0;
}

.personal-settings-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 31px 21px;
    grid-template-areas:
    ". ."
    ". .";
}