html {
    scroll-behavior: smooth;
}

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

button {
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* ================= TEXT PATTERNS ================== */

a {
    transition: opacity 0.4s;
}

a:hover {
    opacity: 0.6;
}

/* p */
.white-text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    /*margin: 30px 10px;*/
}

/* p */
.lime-text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #54F7C5;
    /*margin: 30px 15px;*/
}

/* p */
.pink-text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #D10286;
}

/* h1 */
.title-huge {
    font-family: cubano-sharp, sans-serif;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px white;
    font-size: 72px;
    text-shadow: 0 0 32px #D10286;
}

/* h3 */
.subtitle-lime {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    /*text-align: center;*/
    letter-spacing: 0.1em;
    color: #54F7C5;

    text-shadow: 0 0 12px #54F7C5;
}

/* h4 */
.subtitle-white {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0 0 12px #54F7C5;
}

/* h3 */
.section-title {
    font-family: Cubano, serif;
    font-style: italic;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    text-shadow: 0 0 12px #54F7C5;
    margin: 0 0 0 32px;
}

/* h2 */
.title-big {
    /*width: 60%;*/
    /*align-self: center;*/
    /*margin: 120px 0;*/
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 0 12px #D10286;
}

/* h1, animated text */
.text-separator {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 77px;
    color: #D10286;
    text-shadow: 0 0 24px #D10286;
    white-space: nowrap;
    margin: 0;
    width: fit-content;
}

/* h2 */
.intro-title {
    font-family: Cubano;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    text-shadow: 0 0 12px #D10286;
    /*margin: 0 0 30px 0;*/
}

/* p */
.gray-text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #6D6087;
    align-self: center;
    margin: 0 40px;
}

.button-wrapper {
    outline: none;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
    padding: 0;
}

.blink {
    animation: blink linear infinite 2s;
}

@keyframes blink {
    20% {
        opacity: 1;
    }
    80% {
        opacity: 0.6;
    }
}

@media screen and (max-width: 414px) {
    .text-separator {
        font-size: 38px;
    }

    .text-separator {
        margin-bottom: 60px !important;
    }

    .text-separator.left {
        margin-top: 60px !important;
        margin-bottom: 30px !important;
    }

    .text-separator.left.right-side, .text-separator.right.right-side {
        left: 1660px !important;
    }

    .text-separator.left.left-side, .text-separator.right.left-side {
        left: -1660px !important;
    }
}

/* ================= /TEXT PATTERNS ================== */

