.launchpad-panel {
    width: 100%;
    min-width: 456px;
    background: linear-gradient(180deg, #2B1747 0%, rgba(29, 12, 54, 0.5) 100%);
    backdrop-filter: blur(18px);
    border-radius: 12px;
    margin-right: 60px;
    padding: 34px 60px 60px 60px;
    display: flex;
    flex-direction: column;
}


.launchpad-panel-title {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-shadow: 0 0 12px #54F7C5;
    margin: 0;
    position: absolute;
    top: -20px;
    width: 270px;
    text-align: initial !important;
}

.currency-state {
    font-family: Montserrat;
    font-weight: 500;
    color: #716385;
    text-align: right;
}


.current-status {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.current-status-title {
    font-family: Cubano, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #54F7C5;
    text-shadow: 0 0 12px #70FFD3;
    margin: 0;
}

.status-separator {
    flex-grow: 1;
    border: 1px solid #FFFFFF;
    opacity: 0.1;
}

@media screen and (max-width: 1616px) {
    .launchpad-panel {
        margin: 0 0 60px;
        padding: 114px 20px 40px 20px;
        width: -webkit-fill-available !important;
        min-width: initial !important;
    }

    .launchpad-panel-title {
        text-align: center !important;
        width: 192px;
        align-self: center;
    }

    .launchpad-panel .gray-text {
        text-align: center !important;
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    .progress {
        margin: 0 19px !important;
    }

    .current-status {
        margin-top: 20px;
        justify-content: space-between;
    }

    .status-separator {
        display: none;
    }

    .current-status-title {
        font-size: 32px;
    }

    #usd-text, #raised-text {
        font-size: 16px;
    }
}