.crypto-button {
    padding: 14px 28px;
    border-radius: 16px;
    margin-right: 20px;
    cursor: pointer;
    border: 1px solid #4B346B;
    font-family: Montserrat, serif;
    font-weight: 800;
    font-size: 16px;
    color: #4B346B;
}

.crypto-button.active {
    border: 1px solid #54F7C5;
    color: #54F7C5;
}

.crypto-button.active:hover {
    border: 1px solid #54F7C5;
    color: #54F7C5;
}

.crypto-button:hover {
   border: 1px solid rgba(84, 247, 197, 0.3);
    color: rgba(84, 247, 197, 0.3);
}