.key-store-file-access {
    background: linear-gradient(180deg, rgba(18, 4, 38, 0.8) 0%, rgba(18, 4, 37, 0.48) 100%);
    backdrop-filter: blur(18px);
    width: 57%;

    border-radius: 12px;
    align-self: center;
    padding: 80px;
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
}